
div {
    text-align: right;
    
}

p {
    clear: both;
}
p#chicken-title {
    background-color: pink;
    float: right;
    border: 2px black solid;
    box-sizing: border-box;
    font-size: 200%;
    margin: 0;
    margin-bottom: 2%;
}

p#beef-title {
    background-color: red;
    float: right;
    font-size: 200%;
    margin: 0;
    margin-bottom: 2%;
    border: 2px black solid;
    box-sizing: border-box;

}

p#sushi-title {
    background-color: darkgoldenrod;
    float: right;
    font-size: 200%;
    margin: 0;
    margin-bottom: 2%;
    border: 2px black solid;
    box-sizing: border-box;

}

section {
    border-style: solid;
    background-color: grey;
    margin: 10px;
    padding: 0%;
}


/****************/
/* MEDIA QUERIES*/
/****************/

/* Desktop */ 
@media (min-width:992px) {

    h1 {
        color: darkgreen;
        font-size: 100px;
        text-align: center;
    }

    section {
        float:left;
        width: 30%;
    }
    

}

/* Tablet */ 

@media (min-width:768px) and (max-width:991px) {

    h1 {
        color: red;
        font-size: 100px;
    }

    section#chicken {
        width:40%;
        float: left;

    }

    section#beef {
        width:40%;
        float: right;
    }

    section#sushi {
        clear:both;
    }
}

/* Mobile*/ 

@media (min-width:1px) and (max-width:767px) {

    h1 {
        color: blue;
        font-size: 100px;
        text-align: center;
    }
    
    section#chicken {
        float: left;

    }

    section#beef {
        float: left;
        clear: both;
    }

    section#sushi {
        clear:both;
    }
    
}